.accept-button {
    background-color: blue; /* Blue background for the "Accept" button */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  
    &:hover {
      background-color: lightblue; /* Change the background color on hover */
    }
  }
  
  .reject-button {
    background-color: red; /* Red background for the "Reject" button */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  
    &:hover {
      background-color: #ff9999; /* Change the background color on hover */
    }
  }
  