.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the container cover the entire viewport height */
}

.signup-content {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border: none; /* Remove the border */
  border-radius: 5px;
  text-align: center;

  .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      border-radius: 5px;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }
  }

  .content {
    form {
      background: #fff; /* Set the background to white */
      border: none; /* Remove the border */
      padding: 25px 30px;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      width: 100%;
      margin-bottom: 30%;
      .input-box {
        margin-bottom: 15px;
        width: 100%;

        span.details {
          display: block;
          font-weight: 500;
          margin-bottom: 5px;
        }

        input {
          height: 45px;
          width: 100%;
          outline: none;
          font-size: 16px;
          border-radius: 5px;
          padding-left: 15px;
          border: 1px solid #ccc;
          border-bottom-width: 2px;
          transition: all 0.3s ease;

          &:focus,
          &:valid {
            border-color: #1f0888;
          }
        }
      }

      .button {
        margin-top: 20px; /* Add some top margin to separate from the previous fields */
        text-align: center;

        button {
          height: 45px;
          width: 45%;
          margin-left: -25px;
          border-radius: 5px;
          border: none;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1px;
          cursor: pointer;
          transition: all 0.3s ease;
          background: #0d084d;
        }
      }
    }
  }
  .para{
    margin-right: 200px;
  }
}

@media (max-width: 584px) {
  .signup-content {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }
  }
}

@media (max-width: 459px) {
  .signup-content .content .category {
    flex-direction: column;
  }
}
