.add {
  display: flex;
  justify-content: center;
  margin-top: -80px;
  

  .container {
    width: 100%;
    max-width: 800px;
    padding: 4rem 2rem;

    h1 {
      margin-bottom: 1.5rem;
      color: #0a1485;
      font-weight: bold;
      font-size: 2rem;
    }

    .sections {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      border: 2px solid #0a1485;
      padding: 2rem;
      border-radius: 10px;

      label {
        color: #0a1485;
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      .info,
      .details {
        width: 100%;
        margin: 5px;

        input,
        select,
        textarea {
          width: 100%;
          padding: 1rem;
          border: 1px solid #d1d1d1;
          border-radius: 0.25rem;
          transition: border-color 0.3s ease;

          &:focus {
            outline: none;
            border-color: #0a1485;
          }
        }

        textarea {
          resize: vertical;
        }

        button {
          width: 70%;
          border: none;
          padding: 1rem;
          color: #fff;
          font-weight: 500;
          font-size: 1rem;
          background-color: #0a1485;
          margin-top: 20px;
          margin-left: 100px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0a1485;
          }
        }
      }
    }
  }
}
